@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-family: 'Bree Serif', serif;
}

body { 
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("bkg.jpg");
	background-size: cover;
}
 
input[type="text"] {
	background: transparent;
	color: white;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 3px;
}
input[type="text"]:focus {
	background: rgba(255, 255, 255, 0.3);
}

input[type="submit"] {
	height: 150%;
	width: 125;
	background: rgba(255, 255, 0, 0.5);
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
input[type="submit"]:hover {
	background: rgba(255, 255, 0, 0.7);
}

a {
	color: #ccc;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.login-container {
	
	height: 25%;
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(50%, 100%);


}

.info-container {
	width: 70%;
	display: flex;
	justify-content: space-between;
}
.button-container {
	flex-direction: row-reverse;
}
.links-container {
	width: 90%;
}


#title {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(89%, 175%);

	color: white;
	font-size: 3rem;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
}