@import 'modal.css';
@import 'boton.css';
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

html {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url("bkg.jpg"); 
    background-size: cover;
    font-family: 'Bree Serif', serif;
    color: white;
}

body { 
    margin: 0;
    width: 100%;
    height: 100%;
    -moz-user-select: none;
    user-select: none;
    display: flex;
}

h1 { 
    text-align: center;
    position: fixed;
    z-index: 1;
    color: #EB847F;
    border-bottom: 10px dashed #eb847f;
    background-color: #7feba8;
    width: 100%;
    top: 0;
    margin: 0;
}

span[contenteditable="true"] {
    background-color: #ff450066;
}
.dato_fecha {
    min-width: 50px;
}
.alumno_dato {
    height: 1.2rem;
    width: 175px;
    text-align: center;
}

button:focus, 
input:focus { outline: none; }
select {
    text-align: center;
    width: 175px;
}
.info_texto{
    min-width: 150px;
}

.cursor-pointer { cursor: pointer; }
.minicontent > .chosen-container { width: 50% !important }

.left-side {
	display: flex;
	width: 20%;
    height: 100%;
    min-height: 100%;
	flex-direction: column;
}

.top-bar {
	display: flex;
	justify-content: space-around;
	border-bottom: 3px solid black;
	align-items: center;
	height: 7%;
}

.lista-inscriptos {
	display: flex;
	flex-direction: column;
    height: 98%;
    max-height: 98%;
	overflow: auto;
}

.lista-item {
	width: 100%;
    height: 10%;
    min-height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
}

.lista-item:hover {
	background-color: rgba(255, 255, 255, 0.5) !important;
}

.lista-item-selected, .lista-item-selected:hover {
	background-color: rgba(255, 255, 255, 0.8) !important;
	color: black;
}



/*----------------------------------------------------------*/

.right-side {
	width: 80%;
	display: flex;
}

.contenedor-info {
	width: 33.3%;
}
.info {
	width: 100%;
	height: 10%;
	display: flex;
    justify-content: space-around;
	align-items: center;
}
.contenedor-info:nth-child(even) > .info:nth-child(even) {
	background-color: #FFFF0066;
}

.contenedor-info:nth-child(odd) > .info:nth-child(odd) {
	background-color: #FFFF0066;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.closebutton { 
    border-bottom: 1px solid lightblue;
    line-height: 100%;
    font-weight: bold;
    text-align: center;
}

.not-visible {
    visibility: hidden;
}