/* 

h1 { 
    text-align: center;
    position: fixed;
    z-index: 1;
    color: #EB847F;
    border-bottom: 10px dashed #eb847f;
    background-color: #7feba8;
    width: 100%;
    top: 0;
    margin: 0;
}

.todo {
    margin-top: 50px;
}

#tabla {
    display: flex;
    flex-direction: column;
    width: 150%;
    height: 100%;
}

.fil {
    display: flex;
    flex-direction: row;
    width: inherit;
    height: 50px;
    justify-content: space-between;

    border-bottom: 1px solid #EB847F;   
}

select {
    display: block;
    width: 90%;
    text-align: center;
    text-justify: center;
}

.col {
    display: flex;
    height: inherit;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 18px;
    flex-wrap: wrap;
    color: #AB605D;
    border-right: 1px solid #EB847F;
}


.nro { 
    display: flex;
    border-right: 1px solid #EB847F;
    height: 100%;
    width: 32%; 

    justify-content: center;
    align-items: center;
}

.sb { border-right: none !important; }

.n { width: 12%; }

.diez { width: 10%; }

.quince { width: 15%; }


.i {
    display: block;
    border: none;
    background: transparent;
    color: #AB605D;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
}

.modalinput {
    background: transparent;
    border: none;
    color: cornflowerblue;
    width: 50%;
}

.bu {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: 1px solid #EB847F;
    color: #AB605D;
    cursor: pointer;
}

.bu_hover:hover {
    background-color: #AB605D;
    color: white;
}

.el:before { content: "\0270e" }  */

 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    flex-direction: column;
    background-color: #77ffff;
    border-radius: 5%;
    color: cornflowerblue;
    margin: 15% auto; /* 15% from the top and centered */
    margin-top: 5%;
    padding: 10px;
    
    width: 30%; /* Could be more or less, depending on screen size */
}

.minicontent { 
    display: flex; 
    flex-direction: row;
    width: 100%;
    padding-top: 15px;
}

.reverse { 
    flex-direction: row-reverse !important;
}

.enviar {
    background: transparent;
    border: none;
    
    border-radius: 10px;
    width: 100%;
    color: cornflowerblue;
    cursor: pointer;
    transition: all .2s linear;
}

.enviar:hover {
    background: blue;
    color: white;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

.chosen-container { width: 50% !important; }

.closebutton { 
    border-bottom: 1px solid lightblue;
    line-height: 100%;
    font-weight: bold;
    text-align: center;
}