@import '../../css/main.css';

#admin_body {
	background-image: linear-gradient(125deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(bkg_admin2.jpg);
	background-size: 100% auto;
	background-position: center top;
}

#cupo::after {
	content: ' personas';
}

#contenedor_descripcion {
    height: 70%;
    flex-direction: column;
    justify-content: flex-start;
}
#contenedor_descripcion > #descripcion,
#contenedor_comentario > #comentario {
    margin-top: 5px;
    width: 90%;
    height: 90%;
    text-align: center;
}

#contenedor_comentario {
    height: 30%;
    flex-direction: column;
    justify-content: flex-start;
}