html {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #7feba8, #3b948e);
}

body { 
    margin: 0;
    width: 100%;
    height: calc(100% - 50px);
    -moz-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: row;    
}

.datos > textarea { 
    resize: none;
    height: 50%;
    border: none;
    border-left: 2px solid #FF493B;
    background: none;
    color: #7F241D;
    font-weight: bold;
    transition: .2s linear;
}

.datos > input,
.horariocontent > input {
    border: none;
    padding-left: 5px;
    border-left: 2px solid #FF493B;
    background: none;
    color: #7F241D;
    font-weight: bold;
    transition: .2s linear;
}

.horariocontent > input { 
    width: 5% !important;
    border-left: none !important;
}

.horariocontent > .hora { border-left: 2px solid #FF493B !important }

.datos > textarea:focus { background: rgba(255, 122, 0, 0.3) }

.datos > input:focus,
.horariocontent > input:focus { background: rgba(255, 122, 0, 0.3) }

.arbol,
.datos,
.botones {
    display: flex; 
    flex-direction: column;
}

.arbol { width: 15% }

.datos { 
    padding-left: 5px;
    width: 75%;
    height: 100%;
    visibility: hidden;
    transition: .3s linear;
}

#seminario, 
#visita { padding: 0 !important; }

.botones { 
    display: flex;
    justify-content: space-between;
    padding-top: 5%; 
    width: 10%;
    height: 25%;
}

.item {
    display: flex;
    transition: .3s linear;
    cursor: pointer;
}

.item:hover {
    background: rgba(255, 255, 255, 0.5)
}

.padre {
    font-weight: bold;
    font-size: 1.2rem;
    width: 100%;    
}

.hijo { 
    padding-left: 20px; 
    width: calc(100% - 20px);
}

.desplegado::before { content: "\25BD" }
.plegado::before { content: "\25B7" }
.hijo::before { content: "\2022 " }
.addElement::before { content: "\2795"}

.tableHeader {
    display: flex;
    justify-content: space-between;
}

.headerButtons {
    display: flex;
}

.hButton {
    background: transparent;
    border: 1px solid red;
    cursor: pointer;
    transition: all .2s ease-in;
}

.hButton:hover {
    background-color: aqua;
}

.hButton + .hButton { border-left: none; }

.listaHijos {
    flex-direction: column;
}

.boton {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 25%;
    border: none;
    border-bottom: 3px solid #aaa;
    border-right: 4px solid #aaa;
    color: #555;
    cursor: pointer;
    outline: none;
}

.boton:hover {
	background: linear-gradient(to top, #aaa, #eee);
}

.boton[disabled]:hover {
	background:#CCCCCC;
	cursor: not-allowed;
}

.boton:disabled {
	background-color:#CCC;
	color: #555;
	border: 1px solid #999;
}

button::-moz-focus-inner { border: 0 }
  
  